  h1 {
    text-align: center;
  }
  
  .icon-links {
    gap: 100px; 
    display: flex;
    justify-content: center;
    padding: 85px 75px 75px;
  }
  
  .social-logo {
    width: 150px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .github-link:hover .social-logo,
  .github-link:focus .social-logo {
    transform: scale(1.5);
    opacity: 0.8;
  }

  .linkedin-link:hover .social-logo,
  .linkedin-link:focus .social-logo {
    transform: scale(1.5);
    opacity: 0.8;
  }

  .email-link:hover .social-logo,
  .email-link:focus .social-logo {
    transform: scale(1.5);
    opacity: 0.8;
    cursor: pointer;
  }
  
  @media screen and (max-width: 700px) and (min-width: 501px) {
    h1 {
      font-size: 1.75em;
    }

    .social-logo{
      width: 150px;
    }

    .icon-links {
      gap: 95px;
      display: grid;
    }
  }

 @media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5em;
    padding: 5px;
  }

  .social-logo {
    width: 100px;
  }

  .icon-links {
    gap: 100px;
    display: grid;
  }
 }
  