h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.hero-section {
    -webkit-animation-name: hero-section;
    -webkit-animation-duration: 2s;
    animation-name: hero-section;
    animation-duration: 2s;
    position: relative;
}
  
@-webkit-keyframes hero-section {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes hero-section { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.hero-image {
  width: 500px;
  clip-path: circle(30% at 47% 46%);
}

.hero-section-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 25px;
}

.hero-section-text {
    padding: 20px 20px 25px;
    font-size: 0.9em;
    max-width: 50%;
    line-height: 2em;
}

.hero-section-text-alternative {
  display: none;
  padding: 20px 20px 25px;
  font-size: 0.9em;
  max-width: 50%;
}

@media screen and (max-width: 1375px) and (min-width: 1050px) {
  .hero-section-content {
    flex-wrap: nowrap;
  }

  .hero-section-image .hero-image {
    display: flex;
    width: 500px;
  }

  .hero-section-text-alternative {
    display: none;
  }  
}

@media screen and (max-width: 1050px) and (min-width: 701px) {
  .hero-section-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .hero-section-image .hero-image {
    display: flex;
    width: 500px;
  }

  .hero-section-text {
    max-width: 100%;
  }

  .hero-section-text-alternative {
    display: none;
  }
}

@media screen and (max-width: 700px) and (min-width: 451px) {
  .hero-section-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .hero-section-image .hero-image {
    display: flex;
    width: 300px;
  }

  .hero-section-text {
    display: none;
  }

  .hero-section-text-alternative {
    max-width: 100%;
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .hero-section-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .hero-section-image .hero-image {
    display: none;
  }

  .hero-section-text {
    display: none;
  }

  .hero-section-text-alternative {
    max-width: 100%;
    display: block;
  }

  h1 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1em;
  }
}

@media screen and (max-width: 350px) {
  .hero-section-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .hero-section-image .hero-image {
    display: none;
  }

  .hero-section-text {
    display: none;
  }

  .hero-section-text-alternative {
    max-width: 100%;
    font-size: 0.85em;
  }

  h1 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 0.75em;
    padding: 5px;
  }
}