h1 {
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15em;
    width: 100%;
    flex-wrap: wrap;
    font-size: 0.9em;
    margin: 0;
    padding: 25px 0;
}

.projects-content {
    width: 25%;
    background-color: #ffffff;
    padding: 1em;
    box-shadow: 8px 10px 8px #c4bfbf;
    border-style: groove;
    line-height: 1.5em;
}

@keyframes bounceimage {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes bounceimage {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(-10px);
    }
}

.panel-image:hover {
    animation-duration: 0.5s;
    animation-name: bounceimage;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-name: bounceimage;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

